.row {
  max-width: $grid-width;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  .col-sm-3 {
    background-color: pink;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}
